<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя лапша</title>
</head>
<body>
    <div style="display: grid; grid-gap: 5px; grid-template-columns: repeat( auto-fill, 300px )">
        {% for noodle in noodles %}
        <div style="margin-left: 10px; padding: 20px; border: 0.1rem outset black;
        width: 15em; text-align: center; font-family: sans-serif;">
            <div style="font-size: 24px; color: #457595; height: 90px;">{{noodle.title}}</div>
            <img style="width: 150px;" src="{{ noodle.image }}">
            <p>{{ noodle.manufacturer_id.name }}</p>
            <p><a href="#">{{ noodle.country_id.name }}</a></p>
            <p style="height: 30px;">{{noodle.description}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
