<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/noodles_icon.ico">
    <title>Моя лапша</title>
</head>
<body>
<h1><a href="{% url 'noodle_list_view' %}">НА ГЛАВНУЮ</a></h1>
<h2><a href="{% url 'get_pho' %}">Все Фо тут</a></h2>
<form action="{% url 'search' %}" method="GET">
    <input type="text" name="query" placeholder="" required>
    <button type="submit">Найти</button>
</form>
<h3>Показано на странице: {{noodles|length}} штук(и)</h3>
    <div style="display: grid; grid-gap: 5px; grid-template-columns: repeat( auto-fill, 300px )">
        {% for noodle in noodles %}
        <div style="margin-left: 10px; padding: 20px; border: 0.1rem outset black;
        width: 15em; text-align: center; font-family: sans-serif;">
            <div style="font-size: 24px; color: #457595; height: 90px; height: 60px;">{{ noodle.title }}</div>
            <div style="height: 200px; display: flex; align-items: center; justify-content: center;">
                <img style="width: 150px;" src="{{ noodle.image.url }}">
            </div>
            <p style="height: 20px;"><a href="{% url 'manufacturer_noodle_list_view' noodle.manufacturer_id.id %}">
                {{ noodle.manufacturer_id.name }}</a></p>
            <p><a href="{% url 'country_noodle_list_view' noodle.country_id.id %}">
                {{ noodle.country_id.name }}</a></p>
            <div style="height: 60px; display: flex; align-items: center; justify-content: center;">
                <p>{{ noodle.description }}</p>
            </div>

            {% if noodle.recommendation %}
            <h3 style="height: 50px; color: green; ">
                <a href="{% url 'recommendation_noodle_list_view' %}">
                    Рекомендовано</a></h3>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
