<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя лапша</title>
</head>
<body>
<h1><a href="{% url 'noodle_list_view' %}">НА ГЛАВНУЮ</a></h1>
    <div style="display: grid; grid-gap: 5px; grid-template-columns: repeat( auto-fill, 300px )">
        {% for noodle in noodles %}
        <div style="margin-left: 10px; padding: 20px; border: 0.1rem outset black;
        width: 15em; text-align: center; font-family: sans-serif;">
            <div style="font-size: 24px; color: #457595; height: 90px;">{{ noodle.title }}</div>
            <img style="width: 150px;" src="{{ noodle.image }}">
            <p><a href="{% url 'manufacturer_noodle_list_view' noodle.manufacturer_id.id %}">
                {{ noodle.manufacturer_id.name }}</a></p>
            <p><a href="{% url 'country_noodle_list_view' noodle.country_id.id %}">
                {{ noodle.country_id.name }}</a></p>
            {% if noodle.recommendation %}
            <h2 style="height: 50px; color: green; ">Рекомендовано</h2>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
